
@{
    ViewBag.Title = "Introduction to Kendo";
}

<blockquote>
    <p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Kendo,
            is the art of Japanese fencing. <b>"Ken"</b> or tsurugi is from the character
            meaning sword. The character for <b>"Do"</b> or michi includes the meaning
            way or path which translates as <b>"The way of the sword"</b>. A path
            in life which is followed through the training of kendo.
        </font>
    </p>

    <p>&nbsp;</p>

    <h2>Origin of Kendo</h2>
    <p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Modern
            Kendo bears but faint resemblance to Kenjutsu and to its feudal origins
            of sword wielding samurai warriors which are today depicted in movies
            and television. Kendo, literally translated, the way of the sword, cannot
            be traced to a single founder or given an exact founding date. The story
            of the rise of modern Kendo begins with the samurai and extends over the
            culture of several centuries.
        </font>
    </p>
    <p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            By
            the end of the 12th century, the authority of the Japanese central government
            had declined. Bands of warriors grouped together for protection forming
            local aristocracies. Feudalism had come of age, and was to dominate Japan
            for several centuries. With the establishment of the Shogun in Kamakura
            and military rule controlling Japan, a new military class and their lifestyle
            called Bushido, ìthe way of the warrior,î gained prominence. Bushido stressed
            the virtues of bravery, loyalty, honor, self discipline and stoical acceptance
            of death. Certainly, the influence of Bushido extended to modern Japanese
            society and Kendo was also to be greatly influenced by this thinking.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            The
            Japanese warrior had no contempt for learning or the arts. Although Kenjutsu,
            ìthe art of swordsmanship,î had been recorded since the 8th century, it
            gained new prominence and took on religious and cultural aspects as well.
            Sword making became a revered art. Zen and other sects of Buddhism developed
            and the samurai often devoted time to fine calligraphy or poetry.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            The
            next great advance in the martial arts occurred during the late Muromachi
            period (1336-1568) often call the ìage of Warring Provincesî because of
            the many internal conflicts. This period brought an increased demand and
            respect for men trained in the martial arts. Consequently, many schools
            of Kenjutsu arose, eventually numbering about 200. Each was taught by
            a famous swordsman whose techniques earned him honor in battle. Real blades
            or hardwood swords without protective equipment were used in training
            resulting in many injuries. These schools continued to flourish through
            the Tokugawa period (1600-1868), with the Ittoryu or ìone sword school,î
            having the greatest influence on modern Kendo.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Kendo
            began to take its modern appearance during the late 18th century with
            the introduction of protective equipment: the men, kote and do and the
            use of the bamboo sword, the shinai. The use of the shinai and protective
            armor made possible the full delivery of blows without injury. This forced
            the establishment of new regulations and practice formats which set the
            foundation of modern Kendo.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            With
            the Meiji Restoration (1868) and Japanís entry into the modern world,
            Kendo suffered a great decline. The Samurai class was abolished and the
            wearing of swords in public outlawed. This decline was only temporary,
            however, interest in Kendo was revived first in 1887 when uprisings against
            the government showed the need for the training of police officers. Later
            the Sino-Japanese War (1894-95) and the Russo-Japanese War (1904-05) again
            encouraged an awareness of the martial spirit.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Consequently
            in 1895, the Butokukai, an organization devoted to the martial arts was
            established. In 1911, Kendo was officially introduced into the physical
            education curriculum of middle schools and in 1912, the Nihon Kendo Kata,
            a set of regulations for Kendo, was published. In 1939 as Japan prepared
            for war, Kendo became a required course for all boys.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            After
            the war, because of its nationalistic and militaristic associations, Kendo
            was outlawed and the Butokukai was disbanded. However by 1952, supporters
            of Kendo successfully reintroduced a ìpure sportî form of Kendo, called
            Shinai Kyogi which excluded the militaristic attitudes and some of the
            rougher aspects of practice characteristic of prewar Kendo, into the public
            schools. Today, Kendo continues to grow under the auspices of the All
            Japan Kendo Federation, the International Kendo Federation, and federations
            all over the world.
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Although
            the outward appearance and some of the ideals have changed with the changing
            needs of the people, Kendo continues to build character, self-discipline
            and respect. Despite a sportlike atmosphere, Kendo remains steeped in
            tradition which must never be forgotten. For here lies the strength of
            Kendo which has carried it throughout history and will carry it far into
            the future.
        </font>
    </p>

    <p>

    </p><h2>Kendo Philosophy</h2>
    <p>
        <font face="Arial," helvetica,="" sans-serif="">
            <font face="Arial," helvetica,="" sans-serif="">
                No
                attempt will be made here to present the philosophy of Kendo. Each Dojo
                will have similar but sightly different ideas of what Kendo should be.
                The student must discover through their Dojo and themselves what this
                is.
            </font>
        </font>
    </p>
    <h2>&nbsp;</h2>
    <h2>Kendo Equipment</h2>
    <p>Kendo equipment consists of the swords, uniform and armor. </p>
    <p>
        There are two types of wooden swords used. First, the bokken or bokuto,
        a solid wood sword made of oak or another suitable hardwood. The bokken
        is used for basics and forms practice (<i>kata</i>). Second, the shinai,
        is made up of four bamboo staves and leather. The shinai is used for full
        contact sparring practice.
    </p>
    <p>
        The uniform or dogi consists of woven cotton top called a keikogi and
        pleated skirt-like trousers called a hakama.
    </p>
    <p>
        The armor or bogu consists of four pieces: the helmet (<i>men</i>),
        the body protector (<i>do</i>), the gloves (<i>kote</i>), and the hip
        and groin protector (<i>tare</i>). Modern Kendo armor design is fashioned
        after the Oyoroi of the Samurai.
    </p>
    <p>&nbsp;</p>
    <table width="263" height="255" border="0" align="center" cellpadding="5" cellspacing="1">
        <tbody>
            <tr>
                <td height="217"><div align="center"><img src="../photos/bogu.jpg" alt="Kendo Bogu" width="133" height="206"></div></td>
                <td>&nbsp;</td>
                <td><div align="center"><img src="../photos/armor.jpg" alt="Samurai Armor" width="100" height="207"></div></td>
            </tr>
            <tr>
                <td height="15" nowrap=""><p align="center">Kendo bogu </p></td>
                <td>&nbsp;</td>
                <td nowrap=""><p>Samurai armor </p></td>
            </tr>
        </tbody>
    </table>
    <p>
        <br>
    </p>
    <h2>Kendo Practice</h2>
    <p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            A
            Kendo practice is composed of many types of training. Each type has a
            different purpose for developing the Kendo student.
        </font>
    </p>
    <p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Kendo,
            like other martial arts requires discipline and a dedication to training.
            A new student begins with learning the basics such as: etiquette (<i>reigi</i>),
            different postures and footwork, and how to properly swing a sword. The
            student progresses through a series of skills preparing them to begin
            training with armor (<i>bogu</i>).
        </font>
    </p><p>
        <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
            Once
            a student begins to practice in armor, a practice may be composed of any
            or all of the following types of practice and this will depend upon what
            the instructor's focus is at a particular time:
        </font>
        <table width="499" border="0" cellpadding="20">
            <tbody>
                <tr>
                    <td width="455">
                        <ol>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Kiri-Kaeshi</em>:
                                    successively striking the left and right men, practice centering, distance,
                                    and proper cutting while building spirit and stamina.
                                </font>
                            </li>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Waza-Geiko</em>:
                                    technique practice in which the student learns to use the many techniques
                                    of Kendo with a receiving partner.
                                </font>
                            </li>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Kakari-Geiko</em>:
                                    short, intense, attack practice which teaches continuous alertness,
                                    the ability to attack no matter what has come before, as well as building
                                    spirit and stamina.
                                </font>
                            </li>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Ji-Geiko</em>:
                                    sparring practice where the kendoist has a chance to try all that he
                                    or she has learned with a resisting partner.
                                </font>
                            </li>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Gokaku-Geiko</em>:
                                    sparring practice between two kendoist of similar skill level.
                                </font>
                            </li>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Hikitate-Geiko</em>:
                                    sparring practice where a senior kendoist guides a junior kendoist through
                                    practice.
                                </font>
                            </li>
                            <li>
                                <font face="Arial," helvetica,="Helvetica," sans-serif="sans-serif">
                                    <em>Shiai-Geiko</em>:
                                    competition matches which are judged on the basis of a person scoring
                                    valid cuts against an opponent.
                                </font>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
</blockquote>

