@using System.Data.SqlTypes
@model AUSKF.Domain.Entities.Identity.User

@{
    ViewBag.Title = "Details";
}
<div ng-controller="adminUserDetailController" ng-cloak>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-cloak>
                        <b>{{user.firstName}} {{user.lastName}} </b>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" align="center">
                            <img alt="User Pic" src="~/Content/Images/Muga-Kendo-Helmet.png" height="300" width="400" class="img-circle img-responsive">
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="alert alert-danger" style="font-size: small;">
                                            TODO: Link to Dojo Admin page
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            member of: <a ng-href="~/Admin/Dojo/{{ user.profile.dojoId }}">
                                                {{ user.profile.dojo.dojoName }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><input type="text" value="{{ user.email }}"/></td>
                                    </tr>
                                    <tr>
                                        <td>AUSKFID</td>
                                        <td>
                                            <input type="text" value="{{ user.auskfId }}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth<br/><span style="font-size: xx-small; color: #303030">TODO this doesn't work</span></td>
                                        @if (Model.DateOfBirth == (DateTime)SqlDateTime.MinValue)
                                        {
                                            <td>Not listed.</td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input class="form-control" name="registration_date" id="registration-date" type="date"
                                                       value="{{user.displayDate}}">
                                                {{ user.displayDate }}
                                            </td>
                                        }
                                    </tr>

                                    <tr>
                                        <td>Phone Number:</td>
                                        <td><input type="text" value="{{user.phoneNumber}}"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                    <span class="pull-right">
                        <a href="~/Admin/User/Edit?userId=@Model.Id" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Promotions</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-8 top-buffer" ng-repeat="promotion in user.promotions">
                        Promotion Date:
                        <a ng-href="~/Admin/Promotions/{{promotion.promotionId}}">
                            {{promotion.displayDate}}
                        </a>
                        Rank:
                        <a ng-href="~/Admin/Ranks/{{promotion.rankListed}}">
                            {{ promotion.rankListed }}
                        </a>
                        <div ng-if="angular.isObject(promotion.event)">
                            {{promotion.event.eventTitle}}
                        </div>
                        <div ng-if="!promotion.event" style="font-size: xx-small; color: #303030;">
                            Event data not available for this promotion.
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row" style="padding-right:10px;">
                        <span class="pull-right">
                            <a href="~/Admin/Promotions/Add/{{user.id}}" type="button"
                               data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-warning">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>