
<div class="row">
    <div class="page-nation">
        <ul class="pagination pagination-large">

            <li ng-show="userList.hasPreviousPage"><a ng-href="{{userList.BaseUrl}}?page={{ userList.pageNumber - 1 }}">prev</a></li>

            <li ng-repeat="page in userList.pageArray" ng-class="getclass(page, userList.pageNumber)">
                <a ng-href="{{userList.baseUrl}}?page={{page}}">{{page}}</a>
            </li>

            <li ng-show="userList.hasNextPage"><a ng-href="{{userList.baseUrl}}?page={{ userList.pageNumber + 1 }}">prev</a></li>
        </ul>
    </div>
</div>