
<div class="row">
    <div class="page-nation">
        <ul class="pagination pagination-large">

            <li ng-show="userList.hasNextPage"><a href="#" ng-click="getUsers(searchValues.page-1,searchValues.pageSize,searchValues.orderBy)">prev</a></li>
            <li ng-repeat="page in userList.pageArray" ng-class="getclass(page, userList.pageNumber)">
                <a href="#" ng-click="getUsers(page,20,'id')">{{page}}</a>
            </li>
            <li ng-show="userList.hasNextPage"><a href="#" ng-click="getUsers(searchValues.page+1,searchValues.pageSize,searchValues.orderBy)">next</a></li>
        </ul>
        <div>
            <input type="number" name="selectedPage" id="selectedPage" ng-model="searchValues.page" />
            <button type="button" class="btn btn-primary" ng-click="getUsers(searchValues.page,20,'id')">
                <span class="glyphicon glyphicon-cog"></span> go to page
            </button>
        </div>
    </div>
</div>